@{
    ViewData["Title"] = "Home Page";
}
<title>Home</title>

<div class="text-center">
    <h1 class="display-4">Welcome To SimpleCRM</h1>
    <p><a href="https://localhost:7103/Home/Search">Search for a lead now!</a></p>
    <br />
    <div>
        <img style="" src="~/images/nycskyline/nycskyline.png" />
    </div>

   </div>

@*<html>
<head>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <style>
        .jumbotron {
            background-image: url(~/images/nycskyline/nycskyline.png);
            background-size: cover;
            background-position: center;
        }

        span {
            background-color: skyblue;
        }
    </style>
</head>
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4"><span>Welcome to SimpleCRM</span></h1>
            <p class="lead"><a href="https://localhost:7103/Home/Search"><span>Search for a lead now!</span></a></p>
        </div>
    </div>
</body>
</html>*@


@*            <div class="text-center">
    <div class="mainText">
    <h1 class="display-4 text-capitalize text-black">Welcome to razor pizza</h1>
    <h2 class="mainSubtitle"> The best pizza project website</h2>
    </div>

    <img class="mainImage" src="~/images/NYCskyline.jpg"/>
    <br />
    <a class="btn btn-primary mt-1" asp-area="" asp-page="/Checkout/ThankYou">Bring me the pizza!</a>
</div>*@